.container {
  display: flex;
  justify-content:center;
  align-items: center;
  
}

.character-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 350px;
  height: 400px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.character-title {
  font-size: 20px;
  margin-bottom: 10px;
  color: brown;
}

.character-loading {
  color: blue;
}

.character-error {
  color: red;
}

.character-list {
  display: flex;
  flex-wrap: wrap;
}

.character-item {
  flex: 0 0 calc(33.33% - 20px);
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.character-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}